:root {
  scroll-padding-top: 66px; /* 헤더 높이 + 추가 간격 */
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: green;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 3rem;
  background-color: #f2f2f2;

  img {
    width: 4rem;
    cursor: pointer;
  }

  span {
    font-size: 2.4rem;
    font-weight: 500;
  }
}

header .hamburger {
  display: flex;
  width: 3rem;
  border: none;
  cursor: pointer;
}

.side_nav {
  position: fixed;
  right: 0;
  width: 20rem;
  height: 100%;
  margin: 0;
  background-color: rgb(0, 255, 0);
  overflow-x: hidden;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  transform: translateX(200px);

  button {
    margin: 1.2rem;
    width: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
  }

  li {
    list-style: none;
    padding: 1rem 1.5rem;
    text-align: center;
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: black;
  }
}

.category {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 0;
  width: 15rem;
  background-color: #f2f2f2;
  padding: 1rem;
  margin-left: 1rem;
  transform: translateY(-50%);
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.category ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0.1rem solid #000;
  border-radius: 0.2rem;
}

.category ul li {
  text-align: center;
  cursor: pointer;
}
.category ul li a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
  text-decoration: none;
  color: black;
}
.category ul li :hover {
  background-color: black;
  color: white;
}

.home__container {
  margin-left: 18rem;
  padding: 10rem 2rem 2rem 5rem;
}

.banner {
  display: flex;
  overflow: hidden;
}

.banner > ul {
  padding: 0;
}

.banner > ul > ol {
  padding: 0;
}

.items {
  display: flex;
  animation: roll 10s linear infinite;
}

.n1:last-child {
  animation-delay: 10s;
}

.item {
  width: 24rem;
  height: 24rem;
  background-color: lightblue;
  margin-right: 12px;
}

.item > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

@keyframes roll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.list {
  padding: 2rem;
  margin: 2rem 0;
  background-color: #e6e6e6;
  border-radius: 6px;
}

.list > h2 {
  padding: 0px 12px;
  font-size: 2.4rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  justify-content: center;
  gap: 28px;
  font-size: 3.2rem;
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  row-gap: 0.8rem;
  width: 22rem;
  padding: 1.2rem;
  background-color: #f2f2f2;
  border-radius: 0.4rem;
  transform: translateY(0) scale(1);
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
  cursor: pointer;
}
.container > div > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 5px;
}
.container > div > div button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.container > div > div button:hover .like {
  filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg)
    brightness(97%) contrast(113%);
}
.container > div > div {
  .title {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .price {
    font-size: 1.6rem;
  }
}
.container > div > div .price::after {
  content: "원";
}
.container > div:hover {
  background-color: #dbdbdb;
  transform: translateY(-4px) scale(1.01);
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
}
@media (max-width: 1506px) {
  .container {
    grid-template-columns: repeat(4, 220px);
  }
}
@media (max-width: 1258px) {
  .container {
    grid-template-columns: repeat(3, 220px);
  }
}
@media (max-width: 1010px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .container > div {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .container > div {
    width: 100%;
  }
}

.like {
  width: 25px;
}

footer {
  background-color: #f2f2f2;
  padding: 10px 20px;
  text-align: center;
  height: 100px;
}
